<div class="container">
    <div class="row" style="margin:30px;">
        <div class="col-6">
            <h2>Hypothesis</h2>
            <br>

            <p style="text-align: justify;">For this, the final purpose of this research was to develop a critical k-mers search that could differentiate those strains of P. aeruginosa and A. baumannii resistant to carbapenems. These k-mers can be used with Machine Learning algorithms for prediction of antimicrobial resistance or to create directed antibiotics that could interact over the k-mer sequences. 

            </p>
            
            
            <br>
            <h4>K-mers</h4>
            <p style="text-align: justify;"><b>In bioinformatics, k-mers are subsequences of length k contained within a biological sequence.</b>
                The presence of k-mers in genomes can account for diverse genetic events such as acquiring SNPs, (long) insertions/deletions, and recombinations. Unlike SNPs or gene-based approaches, k-mer analyses do not require a reference genome or any assumption on the nature of the causal variants and can even be performed without assembling the genome sequences
            </p>
            <br>
        </div>
        <div class="col-6">
            <img src="../../../assets/img/kmers.jpg" style="    width: -webkit-fill-available;
            border-radius: 30px;">

        </div>
        <hr style="margin-top: 6px;">
    </div>

    <br>
    <div class="row"  style="margin:30px;display: flex; justify-content: center;">
        <button class="btn btn-primary" style="width: 200px; margin-right: 20px;"
        ><a href="main/prs" style="color: white;">Previous page</a></button>
        <!-- <img src="../../../assets/img/sequences.png"> -->
        <button class="btn btn-primary" style="width: 200px;"
        ><a href="main/brca" style="color: white;">Next page</a></button>
        </div>
    
    <br>
</div>
