<div class="container nucleo">
    <div class="container" id="headerMain">
    <h1 style="font-weight: bold; font-size:50px;">Hello, Amazon</h1>
    <br>
    <h4>Welcome to my project: </h4>
    <h5 style="font-family: 'Times New Roman', Times, serif;">Antimicrobial Resistance Prediction by Bacterial Genome-Wide-Association-Study in Non-Fermenting Bacilli with Critical Priority <i>(Pseudomonas aeruginosa and Acinetobacter baumannii)</i> </h5>
    <h6><a href="https://ieeexplore.ieee.org/document/9340214" target="_blank">Go to the Article</a></h6>
    <br>
    </div>
    <div class="container" id="principalBotones">
        <div id="botonesB">
            <button class="btn btn-light botonBeta" routerLink="main/prs"
            routerLinkActive="active">
                <h4 style="color: #2C8CFF">Introduction</h4>
                <br>
            </button>
            <button class="btn btn-light botonBeta" routerLink="main/hypo"
            routerLinkActive="active" >
                <h4 style="color:#FF662C ;">Hypothesis</h4>
                <br>
            </button>
            <button class="btn btn-light botonBeta" routerLink="main/brca"
            routerLinkActive="active">
                <h4 style="color: #4DE050;">Development</h4>
                <br>
            </button>
            <button class="btn btn-light botonBeta" routerLink="main/results"
            routerLinkActive="active" id="botonFinal">
                <h4 style="color: #FFAF2C ;padding-top: -10px;">Results and Achievements</h4>
                <br>
            </button>
        </div>
        <div id="botones"></div>

    </div>
</div>
