<div id="footer" class="bg-dark">
    <div class="container">
        <div class="row ">
            <div class="col mt-5" style="padding-left: 30px;">
                <h2>Omica.bio</h2>
            </div>
            <div class="col mt-5 " style="text-align:right;" id="colImg">
                <img src="../../../assets/img/logoalt.png" alt="logoOmica" id="imgAlt">
            </div>
        </div>
        <div class="row" style="margin-top: 60px; padding-left: 30px;" >
            <div class="col">
                <H2>MX</H2>
                <br>
                <h5>Salvador Alvarado 8, 601</h5>
                <h5>CDMX</h5>
            </div>
            <div class="col">
                <H2>US</H2>
                <br>
                <h5>184 Kent Avenue</h5>
                <h5>Brooklyn, NY 11249</h5>
            </div>
            <div class="col">
                <h2>Noticias</h2>
                <div class="col-10 md:col-4">
                    <form>
                    <div class="p-inputgroup">
                        <button type="submit" pButton pRipple label="Suscribete" id="botonMailFooter"></button>
                        <input type="email" pInputText placeholder="Correo Electrónico">   
                    </div>
                </form> 
                </div>
                <br>

            </div>

        </div>
        
    </div>
    <br>
    <div id="footerFinal">
        <a href="#" class="idFinal">Aviso de privacidad</a>
        <a href="#" class="idFinal">&copy;Omica</a> 
    
    </div>
 
</div>
